body {
    background-image:url('img/bg.jpg');
    background-size: 100%;

}

.arriveTable {
    display: none;
}

.departTable {
    display: none;
}

input[type="radio"] {
    display: none;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
  width: 716px;
}

.radioArrive:checked ~ .arriveTable{
    display: block;
}
.radioArrive:checked ~ .departTable{
    display: none;
}

.radioArrive:checked ~ .buttons label[for="secondRadio"] {
    background-color: blue;
    color: white;
}

.radioDepart:checked ~ .departTable{
    display: block;
}

.radioDepart:checked ~ .buttons label[for="firstRadio"] {
    background-color: blue;
    color: white;
}

label {
    display: inline-block;
    width: 350px;
    height: 25px;
    font-size: 20px;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    color:blue;
    text-align: center;
    border: solid blue;
    border-radius: 10px;
    cursor: pointer;
}

label:hover {
    background-color: lightblue;
}

table {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
}

th {
    font-family: Georgia serif;
    width:10%;
    font-size: 18px;
    background: blue;
    color: white;
    border-collapse: collapse;
    border-color: blue;
    height: 40px;
}

.leftRadius {
    border-top-left-radius: 10px;
}

.rightRadius {
    border-top-right-radius: 10px;
}

.noBorder {
    border-top: hidden;
}

td {
    text-align: center;
    border-top: solid lightgray;
    height: 40px;
}

.ok {
    color: green;
}

.notOk {
    color: red;
}

tr:hover {
    background-color: lightgrey;
}
