@import url('styles/controls.css');
@import url('styles/body.css');
@import url('styles/flights-info.css');




.table {
  margin-top: 30px;
  border-radius: 10px;
  border-collapse: collapse;
  font-family: arial;
}


.flights-details {
  background-color: white;
}

.flights-details__hour-information:not(:first-child) {
  border-top: solid 1px;
  border-color: lightgray;
}

.flights-details__hour {
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #18b8f2;
}

.flights-details__time {
  text-align: center;
  color: #525456;
}

.flights-details__city {
  font-weight: bold;
  color: #525456;
}

.flights-details__list {
  padding-bottom: 10px;
  font-size: 10px;
  color: #525456;
}

.flights-details__number {
  color: #18b8f2;
  text-decoration: none;
}

.flights-details__number:hover {
  color: #69cbef;
}
