.controls__switch-form {
  margin-top: 30px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.controls__input-depart, .controls__input-arrive {
  display: none;
}

.controls__item_type_depart, .controls__item_type_arrive {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: solid #18b8f2;
  border-radius: 10px;
  text-align: center;
  font-family: georgia sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #18b8f2;
  cursor: pointer;
  width: 350px;
}

.controls__item_type_depart:hover, .controls__item_type_arrive:hover {
  background-color: #99e3ff;
}

.controls__input-depart:checked ~ .arrive-table {
  display: none;
}

.controls__input-depart:checked ~ .controls__switch-form .controls__item_type_depart {
  color: white;
  background-color: #18b8f2;
}

.controls__input-arrive:checked ~ .depart-table {
  display: none;
}

.controls__input-arrive:checked ~ .controls__switch-form .controls__item_type_arrive {
  color: white;
  background-color: #18b8f2;
}
