.controls__wrapper {
  margin-top: 30px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: none;
}

.controls__item {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: solid #18b8f2;
  border-radius: 10px;
  text-align: center;
  font-family: georgia sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #18b8f2;
  cursor: pointer;
  width: 350px;
}

.controls__item:hover {
  background-color: #99e3ff;
}

.button__type_depart:checked ~ .schedule_type_arrive {
  display: none;
}

.button__type_depart:checked ~ .controls__wrapper .controls__item_type_depart {
  color: white;
  background-color: #18b8f2;
}

.button__type_arrive:checked ~ .schedule_type_depart {
  display: none;
}

.button__type_arrive:checked ~ .controls__wrapper .controls__item_type_arrive {
  color: white;
  background-color: #18b8f2;
}
